apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: {{ sro_image_name }}
  name: {{ sro_image_name }}
spec: {}
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: {{ sro_image_name }}
  name: {{ sro_image_name }}
spec:
  runPolicy: "Serial"
  triggers:
    - type: "ConfigChange"
    - type: "ImageChange"
  source:
    git:
      ref: {{ sro_image_tag }}
      uri: {{ sro_git_url }}
    type: Git
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: {{ sro_image_name }}:{{ sro_image_tag }}