apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: {{ sro_image_name }}
  name: {{ sro_image_name }}
spec: {}
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: {{ sro_image_name }}
  name: {{ sro_image_name }}
spec:
  runPolicy: "Serial"
  triggers:
    - type: "ConfigChange"
    - type: "ImageChange"
  source:
    git:
{% if sro_image_tag == 'release-4.4' %}
      ref: b6b69864d569bc1917ff500f14b91861a63e89a9
{% else %}
      ref: {{ sro_image_tag }}
{% endif %}
      uri: {{ sro_git_url }}
    type: Git
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: {{ sro_image_name }}:{% if sro_image_tag == 'release-4.4' %}{{ sro_image_tag }}b6b69864d569bc1917ff500f14b91861a63e89a9{% else %}{{ sro_image_tag }}{% endif %}